$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-color: #333;
$appDefaultBorderColor: #245d40;
$appDefaultBgColor: #7c9884;
$appDefaultColor: white;
$appbarColor1: #547c60;
$appbarColor2: #245d40;
$appbarColor3: #245d40;
$logo-height: 45px;
$top-nav-height: 65px;
$bottom-nav-height: 25px;
$side-nav-width: 73px;

//$theme-header-bg-color: #69899f;
//$theme-header-border-color: #334852;
//$theme-header-color: #f5dd5d;
